absl-py==1.3.0
attrs==22.1.0
contourpy==1.0.6
cvzone==1.5.0
cycler==0.11.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.6.2
mediapipe==0.8.9.1
numpy==1.21.4
opencv-contrib-python==4.6.0.66
opencv-python==4.5.4.58
opencv-python-headless==4.5.4.58
osascript==2020.12.3
packaging==21.3
Pillow==9.2.0
protobuf==3.20.0
psutil==5.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
runcmd==2020.12.3
six==1.16.0
pynput~=1.7.6
